/Documentation.docx
/.vscode
/codes
/jar/
/loader.sce
/cleaner.sce
/macros/_verifyPython.bin
/macros/lib
/sci_gateway/cleaner_gateway.sce
/sci_gateway/Release
/sci_gateway/loader_gateway.sce
/sci_gateway/cpp/Makelib.mak
/sci_gateway/cpp/Release
/sci_gateway/cpp/cleaner.sce
/sci_gateway/cpp/loader.sce
/sci_gateway/cpp/scithon_cpp.cpp
/sci_gateway/cpp/scithon_cpp.def
/sci_gateway/cpp/scithon_cpp.dll
/sci_gateway/cpp/scithon_cpp.exp
/sci_gateway/cpp/scithon_cpp.h
/sci_gateway/cpp/scithon_cpp.hxx
/sci_gateway/cpp/scithon_cpp.lib
/src/c/Makelib.mak
/src/c/Release
/src/c/cleaner.sce
/src/c/libPythonInstance.def
/src/c/libPythonInstance.dll
/src/c/libPythonInstance.exp
/src/c/libPythonInstance.lib
/src/c/loader.sce
/src/cleaner_src.sce
/src/cpp/Makelib.mak
/src/cpp/Release
/src/cpp/cleaner.sce
/src/cpp/libPyVar.def
/src/cpp/libPyVar.dll
/src/cpp/libPyVar.exp
/src/cpp/libPyVar.lib
/src/cpp/loader.sce
/unloader.sce
